<div class="page">

  <div class="card-custom">

    <!-- HEADER -->
    <div class="header">
      <img src="assets/header.png" class="header-img">

      <div class="overlay text-center">
        <h5>POLLOS MISION</h5>
        <small>Pollos a la canasta crocantes y alitas</small>

        <div class="social mt-2">
          <i class="bi bi-whatsapp"></i>
          <i class="bi bi-facebook"></i>
          <i class="bi bi-instagram"></i>
          <i class="bi bi-tiktok"></i>
        </div>
      </div>
    </div>

    <!-- LINKS -->
    <div class="links">
      <app-button-link 
        *ngFor="let link of links"
        [link]="link">
      </app-button-link>
    </div>

  </div>

</div>