.btn-custom {
  background: #f4d94f;
  color: black;
  border-radius: 999px;
  padding: 14px;
  font-weight: 500;
  text-decoration: none;

  position: relative; /* clave */
  display: flex;
  justify-content: center; /* centra texto */
  align-items: center;

  transition: 0.2s;
}

/* TEXTO */
.btn-text {
  text-align: center;
}

/* ICONO IZQUIERDA */
.icon-left {
  position: absolute;
  left: 16px;
  font-size: 32px;
}

/* HOVER */
.btn-custom:hover {
  transform: scale(1.05);
}